.DS_Store
.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
vender/
log/
composer.lock
gitpush.sh
pkg/
bin/
cbuild
*/.DS_Store
config/config.toml
main
.vscode
go.sum

document/easygoadmin.gf.layui.sql
app/utils
app/widget

node_modules/
src/
dist/
template/tpl/
app/service/generate.go
package.json
package-lock.json
webpack.config.js
.svn