<!-- 功能操作区一 -->
<form class="layui-form toolbar">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label w-auto">角色名称：</label>
            <div class="layui-input-inline mr0">
                <input type="text" name="name" placeholder="请输入角色名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline" style="width: auto;">
                {{query "查询"}}
                {{add "添加角色" "{}"}}
                {{dall "批量删除"}}
            </div>
        </div>
    </div>
</form>

<!-- TABLE渲染区 -->
<table class="layui-hide" id="tableList" lay-filter="tableList"></table>

<!-- 操作功能区二 -->
<script type="text/html" id="toolBar">
    {{edit "编辑"}}
    {{delete "删除"}}
    {{widget "permission" "layui-icon-set" "角色权限" "layui-bg-cyan" 2 ""}}
</script>