<!-- 功能操作区一 -->
<form class="layui-form toolbar">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label w-auto">栏目名称：</label>
            <div class="layui-input-inline">
                <input type="text" name="name" id="keywords" placeholder="请输入栏目名称" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline" style="width: auto;">
				{{query "查询"}}
				{{add "添加栏目" "{}"}}
				{{expand "全部展开"}}
				{{collapse "全部折叠"}}
            </div>
        </div>
    </div>
</form>

<!-- TREE渲染区 -->
<table id="tableList" class="layui-hide" lay-filter="tableList"></table>

<!-- 操作功能区二 -->
<script type="text/html" id="toolBar">
	{{edit "编辑"}}
	{{delete "删除"}}
	{{addz "添加"}}
</script>
